<a href="https://colab.research.google.com/github/MevrouwHelderder/Assignments/blob/main/Selecting_data_in_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
# importing (or Digesting) data into pandas. 
# read_csv is the most commonly used option. There are ways to customise what and how you want to see stuff. Most important are:
# sep or delimiter, used to tell what is used to seperate the values. 
# parse_dates, turns dates and times into actual dates and times
# thousands, used to tell what the thousand-seperator is in higher numbers

# read_* can be used for other things as well. Like: 
# reading from URL's, HTML tables from websites (for example directly from wikipedia!), excel files, clipboard, etc.
# see documentation

In [26]:
import numpy as np
import pandas as pd

###You can select data with .loc or .iloc. 
  * .loc has a bit more functions but iloc is faster so more suitable for lager datasets.
  * .loc slices up to AND INCLUDING
  * .iloc slices up to  

###You could also use the indexing operator but it is not advised.
  * it creates temporary datastructures that you don't keep around which negatively affect performance. It makes your code slower.


###See: https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different

In [27]:
# Assign the database:
# using ; as an seperator and , as a thousands-seperator because that is whats used in the original file. 
smoking = pd.read_csv("/content/drive/MyDrive/smoking-indicators.csv", sep=";", thousands=",")

# Call the database. Optional: showing an x number of lines instead of all the lines by using .head(number of lines)
smoking.head(3)

,la,Borough name,Smoking Status (2010): current cigarette smoker,Smoking Status (2010): ex-smoker,Smoking Status (2010): never smoked,Smoking Status (2010): Total,Smoking Status (2011): current cigarette smoker,Smoking Status (2011): ex-smoker,Smoking Status (2011): never smoked,Smoking Status (2011): Total,...,Quit rate per 100000 population aged 16+: 2011-12 Q2,Quit rate per 100000 population aged 16+: 2011-12 Q3,Quit rate per 100000 population aged 16+: 2011-12 Q4,Quit rate per 100000 population aged 16+: 2012-13 Q1,Quit rate per 100000 population aged 16+: 2012-13 Q2,Quit rate per 100000 population aged 16+: 2012-13 Q3,Quit rate per 100000 population aged 16+: 2012-13 Q4,Quit rate per 100000 population aged 16+: 2013-14 Q1,Quit rate per 100000 population aged 16+: 2013-14 Q2,Quit rate per 100000 population aged 16+: 2013-14 Q3
0,E09000002,Barking and Dagenham,28722,31666,67056,127444,30415,30865,71712,132992,...,431,675,1115,246,437,700,1069,271,529,696
1,E09000003,Barnet,49414,76507,153960,279881,47701,79597,135442,262740,...,376,560,826,226,384,552,750,108,163,234
2,E09000004,Bexley,30654,61118,87180,178952,33052,57570,85413,176035,...,403,617,902,192,350,525,789,142,313,464

In [28]:
# Dropping some columns for easier use by using .drop
# First we specify the axis, then we specify what columns, in this case
# The axis= 1 means we drop from columns
# The axis= 0 means we drop from rows

# You can drop by using the name of the column:
smoking.drop("la", inplace=True, axis=1)

# or by slicing:
smoking.drop(axis=1, columns=smoking.columns[5:], inplace=True)

smoking.head(3)

,Borough name,Smoking Status (2010): current cigarette smoker,Smoking Status (2010): ex-smoker,Smoking Status (2010): never smoked,Smoking Status (2010): Total
0,Barking and Dagenham,28722,31666,67056,127444
1,Barnet,49414,76507,153960,279881
2,Bexley,30654,61118,87180,178952

In [49]:
# Rename colums for easier use and showing a bit more rows: 
smoking.columns = ["borough", "current smokers", "ex smokers", "never smoked", "total"]
smoking.head(10)

                borough  current smokers  ex smokers  never smoked   total
0  Barking and Dagenham            28722       31666         67056  127444
1                Barnet            49414       76507        153960  279881
2                Bexley            30654       61118         87180  178952
3                 Brent            40827       45780        111547  198154
4               Bromley            40359       87694        109145  237198
5                Camden            38169       67276         85769  191214
6               Croydon            52050       79044        134504  265598
7                Ealing            44778       62605        138753  246136
8               Enfield            42603       57726        118740  219069
9             Greenwich            41703       50832         80274  172809

In [30]:
# Selecting single rows
# .loc can be used in combination with an index []
smoking.loc[0]
# You can see it has been flipped so it shows a neat summary of this one row

borough            Barking and Dagenham
current smokers                   28722
ex smokers                        31666
never smoked                      67056
total                            127444
Name: 0, dtype: object

In [31]:
# Selecting multiple rows can be done in a few ways. 
# You can select a row of indexs.
# Note the double brackets because on set of brackets belongs to the .loc and the other to the list:
smoking.loc[[0,1,2]]

                borough  current smokers  ex smokers  never smoked   total
0  Barking and Dagenham            28722       31666         67056  127444
1                Barnet            49414       76507        153960  279881
2                Bexley            30654       61118         87180  178952

In [32]:
# You can slice. Note that .loc and .iloc are different when it comes to including.
smoking.loc[0:2]

                borough  current smokers  ex smokers  never smoked   total
0  Barking and Dagenham            28722       31666         67056  127444
1                Barnet            49414       76507        153960  279881
2                Bexley            30654       61118         87180  178952

In [33]:
# You can also select rows and columns. You seperate them by a comma. 
# Rows first, then columns.
smoking.loc[0:5, "current smokers"]

0    28722
1    49414
2    30654
3    40827
4    40359
5    38169
Name: current smokers, dtype: int64

In [34]:
# Note: when slicing is not an option, because you need multiple columns or rows that don't follow up you make a list. Mind the brackets!
smoking.loc[0:5, ["current smokers","total"]]

   current smokers   total
0            28722  127444
1            49414  279881
2            30654  178952
3            40827  198154
4            40359  237198
5            38169  191214

###With name as index
###Only usable with .loc. Not with .iloc

In [35]:
# You can specify if you want something used as the index. For example, in this case, the name of the Borough.
# Make a new variable:
smoking_name = smoking.set_index("borough")
smoking_name.head(5)

                      current smokers  ex smokers  never smoked   total
borough
Barking and Dagenham            28722       31666         67056  127444
Barnet                          49414       76507        153960  279881
Bexley                          30654       61118         87180  178952
Brent                           40827       45780        111547  198154
Bromley                         40359       87694        109145  237198

In [36]:
# Now you can use this index for selecting, the same way as before:
# Note that the column we used as the index is now no longer part of the dataframe in the same way the other columns are.
smoking_name.loc[["Brent", "Enfield"]]

         current smokers  ex smokers  never smoked   total
borough
Brent              40827       45780        111547  198154
Enfield            42603       57726        118740  219069

###Example of the indexing operator. Not advised!!
It shows how it is less clear. You can't see as easily what is selected exactly in your code.

In [37]:
# Selecting rows: 
smoking[0:2]

                borough  current smokers  ex smokers  never smoked   total
0  Barking and Dagenham            28722       31666         67056  127444
1                Barnet            49414       76507        153960  279881

In [38]:
# Selecting a single column:
smoking["ex smokers"].head(10)

0    31666
1    76507
2    61118
3    45780
4    87694
5    67276
6    79044
7    62605
8    57726
9    50832
Name: ex smokers, dtype: int64

In [ ]:
# Chained indexing = BAD!! 
# creating a new dataframe and using that. You needlessly create more data, more clutter

# In this example we first make a new dataframe named new_df wich consist of only the first two lines of the original dataframe
new_df = smoking[0:2]
new_df

In [ ]:
# We then use that new dataframe to filter out what we want to see.
new_df[["borough", "ex smokers"]]

In [ ]:
# You can write that in one line but it still means you make a new dataframe: 
# first we select the rows, then the columns.  
smoking[0:2][["borough", "ex smokers"]]

###Filtering results

Boolean masking

In [ ]:
# Passing in a callable (like a function)

# First we define the function. In this case, we want a function that tels us if the length of the what we pass through it is longer then 12. It returns a boolean, a True or False.
def is_long_name(borough_name):
  return len(borough_name) > 12

# We say we want to use a dataframe, then .apply, then what column en then between the parenthesis the function we want to use
smoking.borough.apply(is_long_name)

In [ ]:
# We can now use this mask in our .loc to filter out all the boroughs with long names
smoking.loc[smoking.borough.apply(is_long_name)]

In [ ]:
# We can also pass in the whole row but we need a lamda function for that
# What happens: 

# First we define the function that returns True if the percentage of the smokers is higher then 23%.
# note how the cleanest syntax is to use column . value but to escape that in case of whitespaces or special characters you can use column["column name"]
def more_than_23_percent_smokes(borough):
  percent = (borough["current smokers"] / borough.total) * 100
  return percent >23

# Now we say that in database smoking we want to evaluate every row for the function we just created. If True we return the value.
smoking.loc[lambda row: more_than_23_percent_smokes(row)]

In [ ]:
# We pass in a boolean mask indicating which rows we want to select:

# Here we use .shape to return the amount of rows in the dataframe
print(f"Number of boroughs: {smoking.shape[0]}")

# Now we want to show how many of those boroughs have more then 40K current smokers: 
# Note how we can't use smoking.current smokers because of the whitespace so we use smoking["current smokers"] instead. Without the .
print("The following boroughs have more then 40K current smokers")
# The boolean mask we want to use is this one: 
# smoking["current smokers"] > 40000
# It returns is the value in the column "curent smokers" is more then 40000
smoking.loc[smoking["current smokers"] > 40000]

###More filtering

In [71]:
# Checking exact match
# We use the boolean mask that return True if the value in the column borough is exactly "Bexley"

smoking.loc[smoking.borough == "Bexley"]

  borough  current smokers  ex smokers  never smoked   total
2  Bexley            30654       61118         87180  178952

In [72]:
# Combining  filters using | 
# Adding () is necessary
smoking.loc[(smoking.borough == "Bexley") | (smoking.borough =="Hackney")]

    borough  current smokers  ex smokers  never smoked   total
2    Bexley            30654       61118         87180  178952
10  Hackney            43206       51861         84084  179151

In [75]:
# Combining  filters using &
# Adding () is necessary
# Note the use of the [" "] instead of . because of the whitespace in the name
# Note how we can use the underscore to make 50000 more clear.
smoking.loc[(smoking["ex smokers"] > 50_000) & (smoking["current smokers"] > 50_000)]

    borough  current smokers  ex smokers  never smoked   total
6   Croydon            52050       79044        134504  265598
20  Lambeth            51643       81554        107857  241054

In [76]:
# Using .isin to filter out all rows that contain something
smoking.loc[smoking.borough.str.contains("ham")]

                   borough  current smokers  ex smokers  never smoked   total
0     Barking and Dagenham            28722       31666         67056  127444
11  Hammersmith and Fulham            32129       48608         56570  137307
19    Kingston upon Thames            25589       45070         67930  138589
21                Lewisham            43198       68005         97988  209191
23                  Newham            39905       39439        106277  185621
25    Richmond upon Thames            23936       62293         57602  143831
29          Waltham Forest            33260       52926         86990  173176